# Ignore documents
*.doc
*.docx
*.ppt
*.pptx
*.xls
*.xlsx
*.odt
*.pdf
*.csv
*.txt

# Ignore videos
*.mp4
*.mov
*.avi
*.mkv
*.wmv

# Ignore music
*.mp3
*.wav
*.ogg
*.flac

# Ignore images
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.svg
*.webp
*.avif

# Other File Formats
*.sql
*.html
*.css
*.js
*.php

# IGNORE DOCUMENTS
*.DOC
*.DOCX
*.PPT
*.PPTX
*.XLS
*.XLSX
*.ODT
*.PDF
*.CSV
*.TXT

# IGNORE VIDEOS
*.MP4
*.MOV
*.AVI
*.MKV
*.WMV

# IGNORE MUSIC
*.MP3
*.WAV
*.OGG
*.FLAC

# IGNORE IMAGES
*.JPG
*.JPEG
*.PNG
*.GIF
*.BMP
*.SVG
*.WEBP
*.AVIF

# OTHER FILE FORMATS
*.SQL
*.HTML
*.CSS
*.JS
*.PHP

# Archive File
*.zip
*.tar
*.tar.gz
*.rar
*.gz